body {
    background: #8E0E00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    color: white;
}

.header {
    overflow: visible;
    background-color: white;
    padding: 20px 0px;
    border-radius: 10px;
    top: 0;
    position: sticky;
    width: 100%;
    transition-property: none;
    padding-bottom: 65px;

}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;

}

.header a.header-active {
    background-color: #8E0E00;
    color: white;
}

.header-right {
    float: right;
}

.header-right a:hover:not(.header-active) {
    background-color: #ddd;
    color: black;
}

.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 22px;
    border: none;
    outline: none;
    color: black;
    /* padding: 14px 16px; */
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.dropdown:hover .dropbtn {
    background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}


#student {
    border-collapse: collapse;
    width: 100%;
}

#student td,
#student th {
    border: 1px solid rgb(221, 221, 221);
    padding: 8px;
}

#student tr:nth-child(even) {
    background-color: #000000;
}

#student tr:hover {
    background-color: rgb(2, 6, 255);
}

#student th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #aa0a04;
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#student td {
    text-align: center;
}


#css_text {
    color: rgb(72, 0, 114);
    background-color: white;
}

#shadow {
    text-align: center;
    padding-top: 20px;
}

#indent {
    text-indent: 50px;
    letter-spacing: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#css_text_shadow {
    background-color: white;
    padding: 20px;
    text-align: center;
    color: rgb(72, 0, 114);
}

#text_shadow {
    text-shadow: 3px 5px 2px red;
}

#div_overflow {
    overflow: scroll;
    background-color: white;
    color: rgb(72, 0, 114);
    padding: 20px;
    width: 500px;
    height: 200px;

}

#div_css_links {
    background-color: white;
    padding: 20px;
}

#div_css_links a {
    color: red;
}

#div_css_links a:hover {
    color: green;
    text-decoration: underline;
}

#div_css_links a:active {
    color: blue;
    background-color: green;
}

#div_css_links a:visited {
    color: pink;
}

#div_css_outline {
    background-color: white;
    padding: 20px;
    text-align: center;
    color: rgb(72, 0, 114);
    border: 20px solid red;
    text-align: center;
}

#css_outline_para {
    background-color: rgb(72, 0, 114);
    padding: 20px;
    text-align: center;
    color: white;
    border: inherit;
    text-align: center;
}

#div_css_float {
    background-color: white;
    padding: 20px;
    text-align: center;
    color: rgb(72, 0, 114);
}

.div_css_border {
    background-color: white;
    padding: 20px;
    text-align: center;
    color: blueviolet;
    text-align: center;
}

img.one {
    float: left;
}

img.two {
    float: right;
}

img.three {
    float: none;
}

#dotted {
    border-style: dotted;
}

#dashed {
    border-style: dashed;
}

#solid {
    border-style: solid;
}

#double {
    border-style: double;
}

#groove {
    border-style: groove;
}

#ridge {
    border-style: ridge;
}

#inset {
    border-style: inset;
}

#outset {
    border-style: outset;
}

#none {
    border-style: none;
}

#hidden {
    border-style: hidden;
}

#mix {
    border-style: dotted dashed solid double;
}

.div_css_pseudo_classes p::first-line {
    color: red;
    font-size: 50px;
}

.div_css_opacity p {
    text-align: center;
}

#op1 {
    opacity: 0.2;
}

#op2 {
    opacity: 0.5;
}

#op3 {
    opacity: 0.9;
}