<!--Validators are rules which an input control has to follow. 
    If the input doesn’t match the rule then the control is said to be invalid.
Angular comes with the small set of prebuilt validators to match the once we can 
define via standard HTML 5 attributes, namely required, minlength, maxlength and 
pattern which we can access from the Validators class in @angular/forms library.
STEP 1:ng g c formdemo
STEP 2:app.module.ts->import { ReactiveFormsModule } from '@angular/forms';
STEP 3:formdemo.component.ts ->import { Validators } from '@angular/forms';-->

<!---->
<div class="form-group">

    <!--Alert component of bootstrap-->
    <div class="alert alert-info" role="alert">
        <!--Valid is true if the field doesn’t have validators or all its validators are passing.-->
        <strong>Valid ? </strong>{{title.valid}} <br>
        <strong>Invalid ? </strong>{{title.invalid}}<br>
        <!--A form control is said to be touched if a user focused on the control and then focused on something else.
    The difference between touched and dirty is that with touched the user doesn’t need to actually change the value of the input control.-->
        <strong>Touched ? </strong>{{title.touched}}<br>
        <strong>Untouched ? </strong>{{title.untouched}}<br>
        <!--Dirty property is true if a user changes the value of form control.-->
        <strong>Dirty ? </strong>{{title.dirty}}<br>
        <!--Pristine property is true if a user doesn’t change the value of form control, otherwise, it is false.-->
        <strong>Pristine ? </strong>{{title.pristine}}<br>
    </div>
</div>
<!--Bootstrap provides a different way to show an error message to the user.

By using Alert component of bootstrap
By using visual feedback for the form controls when they are invalid.-->
<!--Validation-->
<div class="card">
    <div class="card-body">
        <h4 class="card-title">ADD PRODUCT (Model Driven Form)</h4>
        <div class="row">
            <div class="col-md-6">
                <form [formGroup]="myForm" novalidate>
                    <div class="form-group">
                        <label>Title</label>
                        <!--is-invalid class makes control border color red, as well as it will show the invalid-feedback division.
                is-valid class makes control border color green.-->
                        <input type="text" class="form-control" formControlName="title"
                            [ngClass]="{'is-invalid': title.errors && (title.touched || title.dirty), 'is-valid':title.valid}">
                        <!--using visual feedback-->
                        <div class="invalid-feedback">
                            <!--*ngIf Directive-->
                            <strong *ngIf="title.errors?.required">Title is required</strong>
                            <strong *ngIf="title.errors?.minlength">Title length must be greater than
                                {{title.errors?.minlength.requiredLength}} character.
                                {{title.errors?.minlength.requiredLength - title.errors?.minlength.actualLength}} more
                                character required. </strong>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label>Model Name</label>
                        <input type="text" class="form-control" formControlName="modelName">
                    </div>
                    <div class="form-group ">
                        <label>Color</label>
                        <input type="text" class="form-control" formControlName="color"
                            [ngClass]="{'is-invalid': color.errors && (color.touched || color.dirty)}">
                        <div class="invalid-feedback">
                            <strong>Only Alphabets are allowed. </strong>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label>Product Type</label>
                        <select class="form-control" formControlName="productType"
                            [ngClass]="{'is-invalid': productType.errors && (productType.touched || productType.dirty), 'is-valid':productType.valid}">
                            <option *ngFor="let p of productTypes" [value]="p">{{p}}</option>
                        </select>
                        <div class="invalid-feedback">
                            <strong>Select Product Type.</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Brand</label>
                        <input type="text" class="form-control" formControlName="brand"
                            [ngClass]="{'is-invalid': brand.errors && (brand.touched || brand.dirty), 'is-valid':brand.valid}">
                        <div class="alert alert-danger" role="alert">
                            <strong>Brand Name is required.</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input type="number" class="form-control" formControlName="price"
                            [ngClass]="{'is-invalid': price.errors && (price.touched || price.dirty), 'is-valid':price.valid}">
                        <div class="invalid-feedback">
                            <strong *ngIf="price.errors?.required"> Price is required</strong>
                            <strong *ngIf="price.errors?.min"> Price should be greated than zero.</strong>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button class="btn btn-default">Reset</button>
                </form>
            </div>

            <div class="col-md-6">
                <label>
                    <strong>myForm : JSON</strong>
                </label>
                <pre class="alert alert-dark">{{myForm.value | json}}</pre>
            </div>
        </div>
    </div>
</div>