body {
    position: relative;
}

#section1 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #6f7174;
}

#section2 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #59585c;
}

#section3 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #848a88;
}

#section41 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #767a7a;
}

#section42 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #787c7c;
}